# 忽略 Python 缓存文件
__pycache__/
*.py[cod]

# 忽略虚拟环境
env/
venv/

# 忽略系统文件
.DS_Store

# 忽略日志和临时文件
*.log
*.tmp
*.swp
*.lock

# 忽略 IDE/编辑器配置文件
.vscode/
.idea/

# 忽略公告目录中不必要的文件
data/notices/*/*.log
data/notices/*/*.tmp
data/notices/*/*.bak
